.NavBar {
  display: flex;
  align-items: center;
  background-color: cadetblue;
  cursor: pointer;
}

.NavBar-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.NavBar-item {
  padding: 5px;
}

.NavBar-item:hover {
  background-color: chocolate;
}
