.SingleFile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  cursor: default;
  height: 100px;
  width: 100px;
}

.SingleFile:hover {
  background-color: rgb(114, 114, 114);
}

.SingleFile-text {
    font-size: small;
    font-weight: 500;
}
