.UserList {
    width: 500px;
    margin: 80px auto;
    background-color: indianred;
}

.UserList table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.UserItem {
    background-color: khaki;
    cursor: pointer;
}

.UserItem:hover {
    background-color: indigo;
}
